.btn-area{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
    margin-top: 15px;
    margin-bottom: 25px;
  }
  
  .todo-btn{
    border: none;
    background-color: var(--bs-gray-700);
    color: var(--bs-gray-100);
    border-radius: 1px;
    padding: 10px;
    cursor: pointer;
  }
  .active{
    border: none;
    background-color: var(--bs-teal);
    color: var(--bs-gray-100);
    border-radius: 1px;
    padding: 10px;
    cursor: pointer;
  }